@import "Main.css";
@import "Profile.css";
@import "ShotChart.css";
@import "TopNavBar.css";
@import "DataViewContainer.css";
@import "SearchBar.css";
@import '../../node_modules/antd/dist/antd.css';
.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
